<!DOCTYPE html>
<html>
<head>
    <title>API_output for users and posts</title>
    <link rel="stylesheet" type="text/css" href="styles.css">    
</head>

<body>
    <h1 style=" color: #ad0d65;text-align: center;">USERS & POSTS</h1>
    
    <section>
        <p style=" color: #8b3b3b;text-align: center;"> {{ users_info }} </p>
    </section>
    
    <div style="background-color: rgb(173, 195, 230); padding: 10px;text-align: center;">
        <h3 style=" color: #1b0b4ba9;">Have a look at my efforts by seeing the code files in my project.</h3>
        <h3 style=" color: #1b0b4ba9;">I will surely improve my html page skills with little guidance from your side.</h3>
        <h3 style=" color: #1b0b4ba9;">It was an amazing project.</h3>
    </div>

    <div style="background-color: rgb(237, 243, 240); padding: 10px;"></div>
    
    <div style="background-color: rgb(173, 230, 203); padding: 10px;">
        <img src="images/task1output.png" alt="task1" >
        <img src="images/task2(1).png" alt="task2.1" >
        <img src="images/task2(2).png" alt="task2.2" > 
    </div>
    
</body>
</html>
